# Ensure that none of these variables are empty
SITE_PATH="{{ site.path }}"
PHP_IMAGE="{{ site.images.php }}"
NGINX_IMAGE="{{ site.images.nginx }}"
# Set to 0 to disable or 1 to enable the use of opcache.
# If enabled you can clear it by running the command below in all php containers:
# > cachetool opcache:reset
ENABLE_OPCACHE=1

# The UID and GID of your user. Usually this is 1000
NEW_UID="{{ cluster_site_uid }}"
NEW_GID="{{ cluster_site_gid }}"
TIMEZONE="Europe/London"

# Do not change for production environmet
USE_HTTPS="True"
# Set to "development" for local sites.
CC_ENV="{{ site.env_vars.CC_ENV }}"
# The site url to use and friendly name of the site.
# You can add the url to your /etc/hosts file.
# If you are using a port, also include it here, e.g: localhost:1234.
# If not using  a custom domain, leave as localhost:port
SITE_URL="{{ site._id }}"
SITE_NAME="SOME PRETTY NAME"

# Names and credentials for the databases.
# To use a non-root user for db you'll have to set the MARIADB_ROOT_PASSWORD in the local_compose.yml.
# Then you will have to manually create the user an grant it permissions.
DRUPAL_DB_NAME="{{ site.env_vars.DRUPAL_DB_NAME }}"
CIVICRM_DB_NAME="{{ site.env_vars.CIVICRM_DB_NAME }}"
DRUPAL_DB_USER="{{ site.env_vars.DRUPAL_DB_USER }}"
DRUPAL_DB_PASS="{{ site.env_vars.DRUPAL_DB_PASS }}"
CIVICRM_DB_USER="{{ site.env_vars.CIVICRM_DB_USER }}"
CIVICRM_DB_PASS="{{ site.env_vars.CIVICRM_DB_PASS }}"
# Change these if not using the default mariadb container
DRUPAL_DB_HOST="{{ cluster_mysql_host_name }}"
DRUPAL_DB_PORT="{{ cluster_mysql_host_port }}"
CIVICRM_DB_HOST="{{ cluster_mysql_host_name }}"
CIVICRM_DB_PORT="{{ cluster_mysql_host_port }}"
DRUPAL_HASH_SALT="{{ site.env_vars.DRUPAL_HASH_SALT }}"
CIVICRM_SITE_KEY="{{ site.env_vars.CIVICRM_SITE_KEY }}"

# Stripe Settings
STRIPE_GBP_FIXED_FEE="0.1"
STRIPE_GBP_PERCENTAGE_FEE="1.1"
STRIPE_USD_FIXED_FEE="0.1"
STRIPE_USD_PERCENTAGE_FEE="1.1"
STRIPE_EUR_FIXED_FEE="0.1"
STRIPE_EUR_PERCENTAGE_FEE="1.1"
STRIPE_CHF_FIXED_FEE="0.1"
STRIPE_CHF_PERCENTAGE_FEE="1.1"
STRIPE_LIVE_PK="{{ compucorp_live_stripe_publishable_key }}"
STRIPE_LIVE_SK="{{ compucorp_live_stripe_secret_key }}"
STRIPE_TEST_PK="{{ compucorp_test_stripe_publishable_key }}"
STRIPE_TEST_SK="{{ compucorp_test_stripe_secret_key }}"
